footer {
    // Top footer
    #top-footer {
        background-image: url("../images/footer-bg.jpg");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        padding: 2rem 0;
        .container {
            display: flex;
            div {
                padding-right: 2rem;
                h4 {
                    color: $color-white;
                    margin-bottom: 1rem;
                }
                ul {
                    margin-bottom: 1rem;
                    margin-right: 2rem;
                    li {
                        a {
                            color: $color-light-gray;
                        }
                    }
                }
            }
        }
    }
    // Bottom footer
    #bottom-footer {
        background-color: $color-mid-gray;
        padding: 1.5rem 0;
        div {
            display: flex;
            align-items: center;
            justify-content: space-between;
            ul {
                display: flex;
                align-items: center;
                justify-content: center;
                li {
                    &:first-child a {
                        color: $primary-color;
                        font-weight: 600;
                    }
                    a {
                        padding-left: 1rem;
                    }
                }
            }
            button {
                border: 2px solid $primary-color;
                padding: 1rem;
                color: $color-white;
                font-weight: 400;
            }
        }
    }
}
