footer {
    #top-footer {
        background: #000;
    }
    #bottom-footer {
        background-color: $color-mid-gray;
        padding: 1.5rem 0;
        div {
            display: flex;
            align-items: center;
            justify-content: space-between;
            ul {
                display: flex;
                align-items: center;
                justify-content: center;
                li {
                    &:first-child a {
                        color: $primary-color;
                        font-weight: 600;
                    }
                    a {
                        padding-left: 1rem;
                    }
                }
            }
            button {
                border: 2px solid $primary-color;
                padding: 1rem;
                color: $color-white;
                font-weight: 400;
            }
        }
    }
}
