@import url(https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400;500;600;700;800;900&display=swap);* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000;
}

img {
  max-width: 100%;
}

body {
  min-height: 100vh;
  font-family: "Raleway", sans-serif;
}

li {
  list-style-type: none;
}

button {
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

header {
  font-weight: 600;
}
header #top-header {
  text-align: right;
  background-color: #0282f9;
  padding: 0.5rem 0;
}
header #top-header span {
  font-size: 0.8rem;
  color: #fff;
  margin-left: 1rem;
}
header section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
}
header ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
header ul li a {
  padding: 0 1rem;
}
header #search {
  border-bottom: 2px solid #0282f9;
}
header #search input {
  border: 0px;
  text-align: right;
  font-size: 1rem;
}

footer #top-footer {
  background-image: url("../images/footer-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 2rem 0;
}
footer #top-footer .container {
  display: flex;
}
footer #top-footer .container div {
  padding-right: 2rem;
}
footer #top-footer .container div h4 {
  color: #fff;
  margin-bottom: 1rem;
}
footer #top-footer .container div ul {
  margin-bottom: 1rem;
  margin-right: 2rem;
}
footer #top-footer .container div ul li a {
  color: #797979;
}
footer #bottom-footer {
  background-color: #303030;
  padding: 1.5rem 0;
}
footer #bottom-footer div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer #bottom-footer div ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
footer #bottom-footer div ul li:first-child a {
  color: #0282f9;
  font-weight: 600;
}
footer #bottom-footer div ul li a {
  padding-left: 1rem;
}
footer #bottom-footer div button {
  border: 2px solid #0282f9;
  padding: 1rem;
  color: #fff;
  font-weight: 400;
}