// Neutrals
$color-black: #000;
$color-white: #fff;
$color-transparent: rgba(255, 255, 255, 1);

// Mains
$primary-color: #0282f9;

// Others
$color-dark-gray: #1c1c1c;
$color-mid-gray: #303030;
$color-light-gray: #797979;
