.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
.img-fluid {
    max-width: 100%;
    height: auto;
}
.d-flex {
    display: flex;
}
.justify-center {
    justify-content: center;
}
.justify-between {
    justify-content: space-between;
}
.align-center {
    align-items: center;
}
.wrapper {
    position: relative;
}
